## Importation des dépendances

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, f1_score

## Collecte de la donnée

In [3]:
# ici nous récuperons le dataset et le stockons dans un variable pour pouvoir l'utiliser
data = pd.read_csv("creditcard.csv")

## Exploration de la donnée

In [4]:
nrows, ncols = data.shape
print(f"Le jeu de données contient {nrows} lignes et {ncols} colonnes.")

Le jeu de données contient 284807 lignes et 31 colonnes.

In [5]:
# Informations sur le dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# 5 premiers lignes de la donnée
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
# 5 derniers lignes de la donnée
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [8]:
# Répartition des classes (Frauduleuses vs. non frauduleuses)
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

#### Le jeu de données est très déséquilibré
##### 0 --> Transaction Normale
##### 1 --> Transaction Frauduleuse

In [9]:
# Séparation des données pour l'analyse
normale = data[data.Class == 0]
fraud = data[data.Class == 1]

In [10]:
# Mesures statistiques des données séparées (Frauduleuses vs. non frauduleuses) sur le montant (Amount)
print("Non Frauduleuse")
normale.Amount.describe()

Non Frauduleuse

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
print("Frauduleuse")
fraud.Amount.describe()

Frauduleuse

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
# Comparaison des valeurs pour chaque transaction (Frauduleuses vs. non frauduleuses) en fonction de la moyenne
# 0 pour non frauduleuse
# 1 pour frauduleuse
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Prétraitement de la donnée

In [13]:
# vérification du nombre de valeurs manquantes dans chaque colonne
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

### Sous-échantillonnage
#### Création d'un échantillon de dataset contenant la répartition similaire des transactions normale et frauduleuse
#### Nombre de transactions frauduleuses --> 492

In [14]:
echan_normale = normale.sample(n=492)

In [15]:
# Concaténation de cet échantillon avec celui des fraudes dans le but d'avoir un nouveau dataset
nv_data = pd.concat([echan_normale, fraud], axis=0)

In [16]:
nv_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
213190,139146.0,-3.597345,3.696686,-2.651306,-1.710550,-0.037794,-1.820533,0.814936,0.542786,1.282737,...,0.022246,0.831570,0.093684,0.094774,0.347126,0.116158,1.320146,0.825500,0.92,0
146114,87453.0,-0.913532,1.488683,-0.055828,-1.073554,0.641097,0.668031,-0.346768,-3.139927,-0.251660,...,2.907309,-1.461790,-0.239166,0.189976,1.906899,0.629313,0.115069,0.146527,35.00,0
69242,53334.0,-0.647952,2.100959,-0.084746,3.674692,-0.927839,1.473381,-3.615342,-7.695468,-1.213720,...,-3.918402,0.946032,0.445320,0.240052,0.510941,0.307574,-0.011290,0.244204,7.60,0
154266,100950.0,2.047755,-0.022368,-0.946709,0.624352,-0.119043,-1.101069,0.024394,-0.341782,1.955084,...,-0.441264,-0.934566,0.365365,-0.097651,-0.367296,0.164906,-0.100724,-0.068032,5.99,0
128874,78870.0,1.107183,-1.870324,0.227249,-1.456900,-1.627333,0.077242,-1.136882,0.043105,-1.724945,...,0.055187,0.029857,-0.298591,-0.537059,0.326828,-0.087957,0.002757,0.043915,224.00,0

In [17]:
nv_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [18]:
nv_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95136.392276,-0.044142,0.063459,0.010695,-0.029611,0.042159,0.061692,-0.050268,-0.082136,0.059633,...,0.041984,0.014188,-0.032114,-0.031358,-0.00771,-0.002518,-0.001473,-0.003136,0.006357,86.535447
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

## Modélisation

#### Nous utiliserons la régression logistique pour pouvoir construire notre modèle de détection de fraude

### Scission du nouveau dataset en Features(Caractéristiques) et Targets(Cibles)

In [19]:
X = nv_data.drop(columns='Class', axis=1) #Features
Y = nv_data['Class'] #Targets

### Scission des Features et Targets en Données d'entrainement et de test

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [21]:
# Mise en place du modèle
model = LogisticRegression()

In [22]:
# Entrainement du modèle sur les données d'entrainement
model.fit(X_train, Y_train)

LogisticRegression()

### Evaluation du Modèle

In [28]:
# Prédiction sur les données d'entrainement
X_train_prediction = model.predict(X_train)
train_precision = accuracy_score(X_train_prediction, Y_train)
train_recall = recall_score(X_train_prediction, Y_train)
train_recall_2 = recall = np.sum(X_train_prediction[Y_train == 1] == 1) / np.sum(Y_train == 1)


print("La précision sur les données d'entrainement est de", train_precision)
print("Le rappel sur les données d'entrainement est de",train_recall_2)

La précision sur les données d'entrainement est de 0.9440914866581956
Le rappel sur les données d'entrainement est de 0.9213197969543148