## Importation des dépendances

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, f1_score, roc_auc_score, confusion_matrix

## Collecte de la donnée

In [4]:
# ici nous récuperons le dataset et le stockons dans un variable pour pouvoir l'utiliser
data = pd.read_csv("creditcard.csv")

## Exploration de la donnée

In [5]:
nrows, ncols = data.shape
print(f"Le jeu de données contient {nrows} lignes et {ncols} colonnes.")

Le jeu de données contient 284807 lignes et 31 colonnes.

In [6]:
# Informations sur le dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# 5 premiers lignes de la donnée
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
# 5 derniers lignes de la donnée
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [9]:
# Répartition des classes (Frauduleuses vs. non frauduleuses)
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

#### Le jeu de données est très déséquilibré
##### 0 --> Transaction Normale
##### 1 --> Transaction Frauduleuse

In [10]:
# Séparation des données pour l'analyse
normale = data[data.Class == 0]
fraud = data[data.Class == 1]

In [11]:
# Mesures statistiques des données séparées (Frauduleuses vs. non frauduleuses) sur le montant (Amount)
print("Non Frauduleuse")
normale.Amount.describe()

Non Frauduleuse

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
print("Frauduleuse")
fraud.Amount.describe()

Frauduleuse

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
# Comparaison des valeurs pour chaque transaction (Frauduleuses vs. non frauduleuses) en fonction de la moyenne
# 0 pour non frauduleuse
# 1 pour frauduleuse
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Prétraitement de la donnée

In [14]:
# vérification du nombre de valeurs manquantes dans chaque colonne
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

### Sous-échantillonnage
#### Création d'un échantillon de dataset contenant la répartition similaire des transactions normale et frauduleuse
#### Nombre de transactions frauduleuses --> 492

In [15]:
echan_normale = normale.sample(n=492)

In [16]:
# Concaténation de cet échantillon avec celui des fraudes dans le but d'avoir un nouveau dataset
nv_data = pd.concat([echan_normale, fraud], axis=0)

In [17]:
nv_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
69863,53615.0,-2.143489,1.918455,-0.122422,-0.917671,-0.663157,-0.331050,-0.523815,1.452849,-0.149035,...,-0.123569,-0.549238,0.015007,-0.508602,0.007497,0.333939,-0.003496,0.089273,1.00,0
42355,41066.0,-0.996526,-0.988546,1.853292,-2.210212,-1.515940,-0.160775,-1.530340,0.819640,-1.686206,...,-0.047824,-0.060851,-0.045635,-0.069727,-0.308233,-0.370508,0.031614,-0.016604,18.50,0
191459,129265.0,2.286954,-1.209759,-1.534512,-1.789623,-0.719573,-0.718512,-0.744285,-0.174201,-1.900338,...,-0.263930,-0.461949,0.334874,0.636673,-0.236138,-0.361062,-0.034118,-0.061413,19.80,0
23127,32604.0,-4.804929,3.413210,-4.569025,1.183217,-0.895564,-1.772131,0.922574,0.402527,2.706578,...,-0.920999,-0.349028,-0.329908,0.167666,-0.000862,-0.639849,-0.759755,-0.958841,89.99,0
158646,111583.0,2.076448,0.248891,-1.589674,0.612498,0.498343,-0.806615,0.084023,-0.304975,1.807459,...,-0.518895,-1.155782,0.344563,0.416528,-0.280725,0.136634,-0.091102,-0.037289,4.49,0

In [18]:
nv_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [19]:
nv_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94673.654472,0.120359,0.031097,0.041390,-0.027924,-0.010148,-0.051136,0.020755,0.070520,-0.020095,...,0.035500,0.032125,-0.035608,0.024628,0.021953,0.005513,-0.013925,0.005530,0.002945,80.480935
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Modélisation

#### Nous utiliserons la régression logistique pour pouvoir construire notre modèle de détection de fraude

### Scission du nouveau dataset en Features(Caractéristiques) et Targets(Cibles)

In [20]:
X = nv_data.drop(columns='Class', axis=1) #Features
Y = nv_data['Class'] #Targets

### Scission des Features et Targets en Données d'entrainement et de test

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
# Mise en place du modèle
model = LogisticRegression()

In [23]:
# Entrainement du modèle sur les données d'entrainement
model.fit(X_train, Y_train)

c:\Users\doudo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### Evaluation du Modèle

In [33]:
# Prédiction sur les données de Test
prediction = model.predict(X_test)
precision = accuracy_score(Y_test, prediction)
recall = recall_score(Y_test, prediction)
f1 = f1_score(Y_test, prediction)
roc = roc_auc_score(Y_test, prediction)
mt_cf = confusion_matrix(Y_test, prediction)


print(f"La précision sur les données est de {precision * 100}")
print(f"Le rappel sur les données est de {recall*100}")
print(f"Le f1_score sur les données est de {f1*100}")
print(f"Le courbe ROC nous donne {roc*100}")
print(f"La matrice de confusion sur les données nous donne {mt_cf}")

La précision sur les données est de 95.43147208121827
Le rappel sur les données est de 91.83673469387756
Le f1_score sur les données est de 95.23809523809524
Le courbe ROC nous donne 95.41331684188827
La matrice de confusion sur les données nous donne [[98  1]
 [ 8 90]]